.input{
  border: 30px;
}
.Input{
width: 30%;
height: 45.055px;
transform: rotate(-0.17deg);
flex-shrink: 0;
border-radius: 67px;
background: #FFF;
}
.search{
   
    
    justify-content: right;
    
}
.main-backgorund{
    padding: 30px;
    width: 70%;
     background-color:#D1EBFF ;
     border-radius: 26px 0px 0px 26px;
}


.PageContent{
   width: 100%;
}
.search-btn{
    color: white;
    width: 97.1px;
    height: 45.855px;
    transform: rotate(-0.177deg);
    flex-shrink: 0;
    border-radius: 67px;
    background-color: #001D5E;
   
}