.App{
  display: flex;
  flex-direction: column;
  width:100v;
  height: 100vh;
  
}

.AppHeader{

      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 20px 4px 12px;
     
      margin: 10px 0;

}
.AppFooter{
 
  background: #719DFF;
  height: 50px;
      display: flex;
      justify-content: space-evenly;
      justify-content: center;
      align-items: center;
      
     
     

}
.sideandcontent{
  color: #000000;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.SideMenu .react-icons {
  fill: white !important;
  color: #ffffff !important;
  
}
.SideMenu{
  height: 600px;
  background: #1542A4;
  border-radius: 30px;
  padding: 5px;
  margin: 20px 0;
}
.Menu {
  align-items: center;
  margin-top: 20px;
  background: none;
  color: white !important;
}
.Menu.ant-menu-root .ant-menu-item {
  color: white !important;
  /* Set menu font color to white */
}
.Menu.ant-menu-root .ant-menu-item.selected {
  color: rgb(0, 0, 0) !important /* Set text color to red when menu item is active/selected */
}


.Menu.ant-menu-root .ant-menu-item:active {
  background: none; /* Remove background color when menu item is active */
}


.anticon svg {
  fill: white;
  width: 24px; /* Set SVG icon width */
  height: 24px; /* Set SVG icon height */
}




.PageContent{

}